.head {
  display: flex;
  background-color: black;
  color: white;
  font-family: 'roboto',arial;
  height: 170px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  min-width: 740px;
  margin-bottom: 5px;
  border-bottom-style: solid ;
  border-bottom-width: 3px;
  border-bottom-color: rgb(226, 220, 220);

  
}